<div class="tw-w-[240px] tw-pt-10 tw-z-20 tw-h-screen tw-bg-[#fff] tw-shadow-[0_30px_30px_rgba(0,0,0,.2)] tw-top-0 tw-left-0 tw-fixed">
  <a routerLink="/">
    <img class="tw-w-[102px] tw-pl-10 tw-h-[90px]" src="/assets/images/logo.png" />
  </a>

  <div class="tw-mt-[35px] tw-pl-12">
    <a href="/" class="text-secondary tw-uppercase tw-no-underline tw-text-[#999] tw-block
      tw-relative tw-pr-0 tw-py-[15px]"><h2 class="tw-text-sm tw-my-0">Trang chủ</h2></a>

    <a href="/thuc-don" class="text-secondary tw-uppercase tw-no-underline tw-text-[#999] tw-block
      tw-relative tw-pr-0 tw-py-[15px]"><h2 class="tw-text-sm tw-my-0">Thực đơn</h2></a>

    <a href="/" class="text-secondary tw-uppercase tw-no-underline tw-text-[#999] tw-block
      tw-relative tw-pr-0 tw-py-[15px]"><h2 class="tw-text-sm tw-my-0">Giới thiệu</h2></a>

    <a href="/" class="text-secondary tw-uppercase tw-no-underline tw-text-[#999] tw-block
      tw-relative tw-pr-0 tw-py-[15px]"><h2 class="tw-text-sm tw-my-0">Liên hệ</h2></a>
  </div>
</div>
