<div class="tw-mt-5 tw-py-5 tw-px-5 md:tw-pl-8 tw-bg-[#333] tw-h-full tw-flex tw-flex-col">
  <div class="tw-w-full tw-pb-3 tw-border-b-[#555] tw-border-0 tw-border-b tw-border-solid md:tw-relative">
    <h3 class="title tw-text-white text-secondary tw-text-2xl tw-font-extrabold tw-tracking-wider
      tw-leading-8 tw-relative tw-text-left tw-mt-0 tw-mb-2.5 tw-mx-0 tw-pb-2.5 md:tw-text-[30px] md:tw-leading-[40px]">
      DELI KITCHEN
    </h3>
    <p class="text-secondary tw-text-[#999] tw-text-sm tw-font-normal tw-leading-5 tw-mt-0 tw-mb-3.5 tw-mx-0 md:tw-text-base">
      Nơi trải nghiệm sự thăng hoa của ẩm thực, mang hương vị nhà hàng đến với gia đình bạn.
    </p>
    <img class="tw-w-20 md:tw-w-24 md:tw-absolute md:tw-top-0 md:tw-right-2" src="/assets/images/logo.png" />
  </div>
  <div class="tw-mt-4">
    <a class="tw-text-white tw-text-sm tw-font-semibold tw-leading-[19px] text-secondary
      tw-text-left tw-uppercase tw-no-underline tw-mt-3.5 tw-mb-0 tw-mx-0 md:tw-text-lg" href="/lien-he" title="Liên hệ">Liên hệ</a>

    <div class="tw-text-sm md:tw-text-base">
      <p class="tw-mt-[5px] text-secondary tw-text-[#999] tw-font-normal tw-leading-5
        tw-mb-0 tw-mx-0"><strong>Địa chỉ</strong>: 138 Đường 3/2, P. Xuân Khánh, Q. Ninh Kiều, TP. Cần Thơ</p>

      <p class="tw-mt-[5px] text-secondary tw-text-[#999] tw-font-normal tw-leading-5
        tw-mb-0 tw-mx-0"><strong>Điện thoại</strong>: 02922226899 - 02926545888</p>

      <p class="tw-mt-[5px] text-secondary tw-text-[#999] tw-font-normal tw-leading-5
        tw-mb-0 tw-mx-0"><strong>Email</strong>: order@delikitchen.com.vn</p>
    </div>
  </div>
</div>
