<div class="tw-mt-5 tw-grid tw-gap-3">
  <div class="tw-flex tw-flex-col tw-items-center">
    <img width="60" height="60" src="/assets/icons/support.svg" />
    <h3 class="title text-secondary">Hỗ trợ 12/7</h3>
    <p class="description text-secondary"> Đội ngũ TASTY Kitchen luôn có mặt<br> để hỗ trợ bất cứ khi nào bạn cần. </p>
  </div>

  <div class="tw-flex tw-flex-col tw-items-center">
    <img width="60" height="60" src="/assets/icons/wallet.svg" />
    <h3 class="title text-secondary">Thanh toán tiện dụng</h3>
    <p class="description text-secondary">Chúng tôi hỗ trợ thanh toán online <br> qua Ví điện tử tiện dụng.</p>
  </div>

  <div class="tw-flex tw-flex-col tw-items-center">
    <img width="60" height="60" src="/assets/icons/take-out.svg" />
    <h3 class="title text-secondary">Giao hàng nhanh chóng</h3>
    <p class="description text-secondary"> Bạn sẽ vẫn cảm nhận được sự nóng<br> hổi của món ăn khi nhận hàng. </p>
  </div>
</div>
