.title::before {
  background: #fff;
  bottom: 0;
  content: "";
  height: 1px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  width: 50px;
}

.information {
  border-top: 1px dashed #ccc;

  &:first-child {
    border-top: none;
  }
}
