<div class="tw-h-[150px] tw-relative">
  <img class="tw-w-full tw-object-cover tw-h-full" src="https://static.tastykitchen.vn/images/mobile/bg-td-top-mobile.webp" />
  <div class="tw-absolute tw-top-0 tw-left-0 tw-w-full tw-h-[150px]">
    <div class="tw-flex tw-flex-col tw-w-full tw-h-full tw-items-center tw-justify-center">
      <h2 class="title tw-relative tw-text-white tw-text-sm tw-font-semibold tw-leading-[19px]
        tw-uppercase tw-mt-0 tw-mb-2.5 tw-mx-0 tw-pb-2.5 text-secondary">menu</h2>

      <h2 class="tw-text-white tw-text-xl tw-font-semibold tw-tracking-wider tw-leading-6 tw-uppercase tw-m-0"> Được yêu thích nhất </h2>
    </div>
  </div>
</div>

<div class="tw-px-2.5 tw-py-5">
  <div class="tw-w-full tw-pb-[80%] tw-relative">
    <div class="tw-absolute tw-w-full tw-h-full tw-top-0 tw-left-0">
      <img class="tw-w-full tw-h-full" src="https://img.tastykitchen.vn/crop/820x642/2021/01/25/pho-cuon-hn-1280x1000-7020.jpg" />
    </div>
  </div>

  <h1 class="text-secondary tw-text-[#333] tw-text-lg tw-font-bold tw-leading-[25px]
    tw-uppercase tw-mt-5 tw-mb-0 tw-mx-0" title="Phở cuốn TASTY">Phở cuốn TASTY</h1>

  <p class="tw-mb-0 tw-mt-2 text-secondary tw-text-[26px] tw-font-semibold tw-leading-[35px] tw-text-[#d83a3a]"> 83.000 đ </p>

  <button class="btn-primary tw-text-base tw-mt-2.5 tw-mb-4">Đặt món</button>

  <app-product-information *ngIf="product.information.ingredients" iconUrl="/assets/icons/ingredients.svg"
    title="Thành phần:" [description]="product.information.ingredients"></app-product-information>

  <app-product-information *ngIf="product.information.servingSize" iconUrl="/assets/icons/serving-size.svg"
    title="Khẩu phần:" [description]="product.information.servingSize"></app-product-information>

  <app-product-information *ngIf="product.information.cookingTime" iconUrl="/assets/icons/cooking-time.svg"
    title="Thời gian hoàn tất:" [description]="product.information.cookingTime"></app-product-information>

  <app-product-information *ngIf="product.information.description" iconUrl="/assets/icons/description.svg"
    title="Mô tả món:" [description]="product.information.description"></app-product-information>

  <app-product-information *ngIf="product.information.additionalInformation" iconUrl="/assets/icons/additional-information.svg"
    title="Thông tin thêm:" [description]="product.information.additionalInformation"></app-product-information>
</div>
