@import 'responsive';

.title::before {
  background: #fff;
  bottom: 0;
  content: "";
  height: 1px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  width: 50px;

  @include tabletAndDesktop() {
    height: 2px;
  }
}

app-product-information {
  display: block;
  border-top: 1px dashed #ccc;
}
