<div class="tw-mt-5 tw-py-5 tw-px-2.5 tw-bg-[#eee]">
  <h2 class="tw-text-center tw-uppercase tw-text-[#333] tw-text-[22px] tw-font-medium tw-tracking-wider tw-leading-[27px] tw-mt-0 tw-mb-3">Có thể bạn quan tâm</h2>

  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide [id]="'id1'">
      <div class="featured-product-item tw-relative tw-flex tw-w-full">
        <a href="#">
          <img [src]="'https://img.tastykitchen.vn/crop/600x450/2020/11/17/photo-2020-11-17-09-30-11-2-3dd0.jpg'">
        </a>
        <div class="tw-absolute tw-text-left tw-z-[1] tw-pl-2.5 tw-pr-[140px] tw-py-2.5 tw-left-0 tw-bottom-0">
          <h3 class="tw-text-base tw-leading-[22px] tw-my-0 tw-text-left tw-font-semibold text-secondary">
            <a href="#" class="tw-text-white tw-no-underline">Combo sườn chìa nướng - cơm lam</a>
          </h3>
          <h4 class="text-secondary tw-text-[#d83a3a] tw-text-base tw-font-semibold tw-leading-[22px] tw-m-0"> 181.000 đ </h4>
          <a class="tw-text-white tw-cursor-pointer tw-inline-block tw-text-base
            text-secondary tw-font-semibold tw-h-[42px] tw-leading-[42px] tw-text-center
            tw-w-[114px] tw-absolute tw-border-0 tw-right-2.5 tw-bottom-2.5 tw-bg-[#d83a3a]">Đặt món</a>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide [id]="'id2'">
      <div class="featured-product-item tw-relative tw-flex tw-w-full">
        <a href="#">
          <img [src]="'https://img.tastykitchen.vn/crop/600x450/2020/11/17/photo-2020-11-17-09-30-11-2-3dd0.jpg'">
        </a>
        <div class="tw-absolute tw-text-left tw-z-[1] tw-pl-2.5 tw-pr-[140px] tw-py-2.5 tw-left-0 tw-bottom-0">
          <h3 class="tw-text-base tw-leading-[22px] tw-my-0 tw-text-left tw-font-semibold text-secondary">
            <a href="#" class="tw-text-white tw-no-underline">Combo sườn chìa nướng - cơm lam</a>
          </h3>
          <h4 class="text-secondary tw-text-[#d83a3a] tw-text-base tw-font-semibold tw-leading-[22px] tw-m-0"> 181.000 đ </h4>
          <a class="tw-text-white tw-cursor-pointer tw-inline-block tw-text-base
            text-secondary tw-font-semibold tw-h-[42px] tw-leading-[42px] tw-text-center
            tw-w-[114px] tw-absolute tw-border-0 tw-right-2.5 tw-bottom-2.5 tw-bg-[#d83a3a]">Đặt món</a>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
</div>
