<div class="tw-py-5 tw-bg-[#eee] tw-px-2.5 md:tw-px-0 md:tw-py-[70px]">
  <h2 *ngIf="header" class="tw-text-center tw-uppercase tw-text-[#333] tw-text-[22px] tw-font-medium tw-tracking-wider
    tw-leading-[27px] tw-mt-0 tw-mb-3 md:tw-mb-7 md:tw-leading-[54px] md:tw-text-[44px] md:tw-font-medium">{{ header }}</h2>

  <owl-carousel-o [options]="customOptions">
    <ng-template *ngFor="let i of [1, 2]" carouselSlide [id]="'id' + i">
      <div class="featured-product-item tw-relative tw-flex tw-w-full">
        <a href="#">
          <img *ngIf="i === 1" class="tw-object-cover" [src]="'https://img.tastykitchen.vn/2020/11/04/salad-bo-1280x1000-4dbe.jpg'">
          <img *ngIf="i === 2" class="tw-object-cover" [src]="'https://img.tastykitchen.vn/2021/01/25/pho-cuon-hn-1280x1000-7020.jpg'">
        </a>
        <div class="tw-absolute tw-text-left tw-z-[1] tw-pl-2.5 tw-pr-[140px] tw-py-2.5 tw-left-0 tw-bottom-0
          md:tw-p-[30px] md:tw-pr-[243px]">
          <h3 class="tw-text-base tw-leading-[22px] tw-my-0 tw-text-left tw-font-semibold text-secondary
            md:tw-text-[24px] md:tw-leading-[33px]">
            <a href="#" class="tw-text-white tw-no-underline">Combo sườn chìa nướng - cơm lam</a>
          </h3>
          <h4 class="text-secondary tw-text-[#d83a3a] tw-text-base tw-font-semibold tw-leading-[22px] tw-m-0
          md:tw-text-xl md:tw-leading-[27px]"> 181.000 đ </h4>
          <a class="tw-text-white tw-cursor-pointer tw-inline-block tw-text-base
            text-secondary tw-font-semibold tw-h-[42px] tw-leading-[42px] tw-text-center
            tw-w-[114px] tw-absolute tw-border-0 tw-right-2.5 tw-bottom-2.5 tw-bg-[#d83a3a]
            md:tw-h-[57px] md:tw-text-xl md:tw-w-[152px] md:tw-font-normal md:tw-leading-[57px]
            md:tw-bottom-[30px] md:tw-right-[30px]">Đặt món</a>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
</div>
