<div class="tw-px-[10px] tw-mt-4 tw-flex tw-flex-col tw-items-center md:tw-px-5">
  <p class="title tw-mb-2 tw-w-full tw-text-center tw-text-[#333] text-secondary
    tw-text-lg tw-leading-[25px] tw-font-bold tw-relative md:tw-mt-[25px] md:tw-mb-[15px]">
    <span class="tw-relative tw-bg-[#fff] tw-px-6 md:tw-px-8 md:tw-text-[25px] md:tw-leading-[34px]">KHAI VỊ</span>
  </p>

  <div class="tw-grid tw-grid-cols-2 tw-gap-x-3 tw-gap-y-4 tw-w-full md:tw-grid-cols-4">
    <app-product-item *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8]"></app-product-item>
  </div>
</div>
