<div class="tw-mb-[5px] tw-relative tw-bg-blue-300 tw-pb-[75%]">
  <div class="tw-absolute tw-w-full tw-h-full tw-top-0 tw-left-0">
    <img class="tw-object-cover tw-w-full tw-h-full" src="https://img.tastykitchen.vn/crop/480x375/2021/01/25/pho-cuon-hn-1280x1000-7020.jpg" />
  </div>
</div>
<h3 class="tw-h-[40px] tw-text-base tw-my-0 text-secondary tw-leading-5 tw-line-clamp-2	">
  <a href="#" title="Phở cuốn TASTY" class="tw-h-10 tw-overflow-hidden tw-no-underline tw-break-words tw-text-[#333] tw-font-bold">Phở cuốn TASTY</a>
</h3>
<p class="tw-my-0 text-secondary tw-text-sm tw-font-bold tw-leading-5 tw-h-5 tw-text-[#d83a3a]"> 69.000 đ </p>

<button class="tw-uppercase text-secondary tw-w-full tw-border-none
  tw-mt-2 tw-text-lg tw-font-semibold tw-h-[40px] tw-text-[#fff]
  tw-leading-6 tw-py-[7.5px] tw-px-[10px] tw-bg-[#d83a3a]">Đặt Món</button>
