<div class="tw-mb-[5px] tw-relative tw-bg-blue-300 tw-pb-[75%]">
  <div class="tw-absolute tw-w-full tw-h-full tw-top-0 tw-left-0">
    <span title="Hết hàng" class="tw-text-[10px] tw-h-[18px] tw-leading-[18px] tw-absolute
      tw-left-[5px] tw-top-[5px] tw-bg-[rgba(51,51,51,.88)] tw-rounded-[10px] tw-text-[#fff]
      tw-font-bold text-secondary tw-px-2 tw-uppercase">Hết hàng</span>
    <img class="tw-object-cover tw-w-full tw-h-full" src="https://img.tastykitchen.vn/crop/480x375/2021/01/25/pho-cuon-hn-1280x1000-7020.jpg" />
  </div>
</div>

<h3 class="tw-h-[40px] tw-text-base tw-my-0 text-secondary tw-leading-5 tw-line-clamp-2	">
  <a href="#" title="Phở cuốn TASTY" class="tw-h-10 tw-overflow-hidden tw-no-underline tw-break-words tw-text-[#333] tw-font-bold">Phở cuốn TASTY</a>
</h3>

<p class="tw-my-0 text-secondary tw-text-sm tw-font-bold tw-leading-5 tw-h-5 tw-text-[#d83a3a]"> 69.000 đ </p>

<button class="btn-primary">Đặt Món</button>
