<div class="tw-w-full tw-relative tw-text-[#fff]">
  <img class="tw-h-auto tw-w-full md:tw-hidden"
    src="https://img.tastykitchen.vn/crop/640x800/banner-mobile/2022/04/20/frame-875-4de0.png"
    width="640" height="800" />

  <img class="tw-h-auto tw-w-full tw-hidden md:tw-block"
    src="https://img.tastykitchen.vn/crop/1620x800/banner-desktop/2022/04/20/group-863-97d5.png"
    width="1600" height="800" />

  <div class="tw-absolute tw-top-1/2 tw-mt-[-38%] md:tw-top-[20%] md:tw-mt-0 tw-pl-5 md:tw-pl-[90px]">
    <span class="tw-relative tw-uppercase text-secondary tw-block tw-text-sm
      tw-font-semibold tw-leading-5 tw-mb-[10px] tw-pb-[10px] md:tw-pb-[18px] brand-name md:tw-text-base">Deli Kitchen</span>

    <h3 class="tw-block tw-text-[26px] md:tw-text-[46px] md:tw-leading-[56px] tw-tracking-[0.05em]
      tw-font-semibold tw-leading-8 tw-mt-0 tw-mb-[15px] md:tw-mb-[18px]"> MANG ẨM THỰC<br>CAO CẤP<br>ĐẾN TẬN NHÀ </h3>

    <a href="#" class="tw-bg-transparent text-secondary tw-block tw-border tw-cursor-pointer tw-text-[13px] tw-font-semibold
      tw-h-9 tw-leading-9 tw-text-center tw-text-[#fff] tw-no-underline
      tw-uppercase tw-w-[130px] tw-border-solid tw-border-white
      md:tw-text-base md:tw-h-[52px] md:tw-w-[182px] md:tw-leading-[52px]">ĐẶT MÓN NGAY</a>
  </div>
</div>
