<div class="tw-w-full tw-relative tw-text-[#fff]">
  <img class="tw-h-auto tw-w-full" src="https://img.tastykitchen.vn/crop/640x800/banner-mobile/2022/04/20/frame-875-4de0.png" data-src="https://img.tastykitchen.vn/crop/640x800/banner-mobile/2022/04/20/frame-875-4de0.png" alt="Banner Header" width="640" height="800">
  <div class="tw-absolute tw-top-1/2 tw-mt-[-38%] tw-pl-5">
    <span class="tw-relative tw-uppercase text-secondary tw-block tw-text-sm
      tw-font-semibold tw-leading-5 tw-mb-[10px] tw-pb-[10px] brand-name">Deli Kitchen</span>

    <h3 class="tw-block tw-text-[26px] tw-tracking-[0.05em] tw-font-semibold tw-leading-8 tw-mt-0 tw-mb-[15px]"> MANG ẨM THỰC<br>CAO CẤP<br>ĐẾN TẬN NHÀ </h3>
    <a href="#" class="tw-bg-transparent text-secondary tw-block tw-border tw-cursor-pointer tw-text-[13px] tw-font-semibold
      tw-h-9 tw-leading-9 tw-text-center tw-text-[#fff] tw-no-underline tw-uppercase tw-w-[130px] tw-border-solid tw-border-white">ĐẶT MÓN NGAY</a>
  </div>
</div>
