@import 'responsive';

.brand-name {
  &::before {
    background: #fff;
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 50px;

    @include tabletAndDesktop() {
      height: 2px;
    }
  }
}
