<div class="tw-h-[150px] md:tw-h-[200px] tw-relative">
  <img class="tw-w-full tw-object-cover tw-h-full md:tw-hidden" src="https://static.tastykitchen.vn/images/mobile/bg-td-top-mobile.webp" />
  <img class="tw-w-full tw-object-cover tw-h-full tw-hidden md:tw-block" src="https://static.tastykitchen.vn/images/pc/bg-td-top-pc.jpg" />
  <div class="tw-absolute tw-top-0 tw-left-0 tw-w-full tw-h-[150px] md:tw-h-[200px]">
    <div class="tw-flex tw-flex-col tw-w-full tw-h-full tw-items-center tw-justify-center">
      <h2 class="title tw-relative tw-text-white tw-text-sm tw-font-semibold tw-leading-[19px]
        tw-uppercase tw-mt-0 tw-mb-2.5 tw-mx-0 tw-pb-2.5 text-secondary
        md:tw-text-base md:tw-leading-[22px]">{{ subHeading }}</h2>

      <h2 class="tw-text-white tw-text-xl tw-font-semibold tw-tracking-wider tw-leading-6 tw-uppercase tw-m-0
      md:tw-text-[28px] md:tw-leading-[34px]">{{ title }}</h2>
    </div>
  </div>
</div>
